body {
    background-color: #f0f8ff;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px; 
}
h1, h2, h3 {
    color: #34393d;
    font-family: 'Playfair Display', Sans-serif;
    margin-bottom: 20px;
}


h2 {
    text-align: center;
}
    
.product-card {
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-card img {
  max-height: 250px;
  object-fit: cover;
}

.product-card .card-body {
  padding: 20px;
}

.product-card h5 {
  font-weight: bold;
  margin-bottom: 15px;
}
.product-card p {
  color: #fff; 
  line-height: 1.6;

}

.product-card .price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #fff;
}

.product-card .btn-success {
  background-color: #7cc300;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

strong {
    color: #007bff;
}
p {
    color: #555;
    line-height: 1.6;
}
header {
    text-align:right;

}

.text-end {
    text-align: right;
    margin: 0;
    padding: auto;
}

footer {
    display: flex; 
    justify-content: space-around;
    padding: 50px 0;
    background-color: #f8f8f8;
    font-family: 'Playfair Display', Sans-serif; 
    color: #333; 
    text-align: left; 
}


footer h4 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px; 
    letter-spacing: 1px; 
}


footer ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}


footer ul li {
    margin-bottom: 10px; 
}

footer ul li a {
    text-decoration: none; 
    color: #555; 
    font-size: 16px;
    transition: color 0.3s ease; 
}


footer ul li a:hover {
    color: #000; 
}
